:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #188ce8;
  --main-btn-color: #2196f3;
  --header-text-color: #212121;
  --projects-list-gap: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  transition: color 250ms linear,
    background-color 250ms linear;
}

textarea {
  resize: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.logo-header {
  font-style: normal;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.logo-web {
  /* font-style: normal;
  font-family: 'Raleway'; */
  color: #2196f3;
  text-decoration: none;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms linear;
  position: relative;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.top-contacts {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.top-contacts:hover,
.top-contacts:focus {
  color: var(--accent-color);
}

.top-tel {
  margin-left: 50px;
}

.header-contacts-icon {
  fill: var(--main-text-color);
  margin-right: 10px;
}

.top-contacts:hover .header-contacts-icon,
.top-contacts:focus .header-contacts-icon {
  fill: var(--accent-color);
}

/* Hero section */

.hero {
  width: 100%;
  min-height: 600px;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
  width: 700px;
}

.hero-button {
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
  background: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  transition: color 250ms linear,
    background-color 250ms linear;
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffffcc;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section-two {
  display: flex;
  /* margin: 94px auto; */
}

.section-two-list {
  display: flex;
}

.section-two-item {
  width: 270px;
  min-height: 251px;
}

.section-two-item:not(:last-child) {
  margin-right: 30px;
}

.section-two-thumb {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.section-two-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 10px;
}

.section-two-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-three {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.section-three-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}
.section-three-list {
  display: flex;
  justify-content: space-between;
}

.section-three-item {
  position: relative;
  display: block;
}

.section-three-thumb {
  z-index: -1;
}

.section-three-text {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  padding: 27px;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
}

.section-four {
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 648px;
}

.section-four-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.section-four-item {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: center;
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-four-item:not(:last-child) {
  margin-right: 30px;
}

.section-four-content {
  padding-top: 30px;
}

.section-four-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}

.section-four-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 10px;
}

.section-four-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-social-list {
  display: flex;
  padding-top: 16px;
  padding-bottom: 30px;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social {
  margin-top: 16px;
  margin-bottom: 30px;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 32px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}

.section-five {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 375px;
}

.section-five-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}

.section-five-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.section-five-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.section-five-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: 250ms linear;
}

.clients-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-icon-link:hover,
.clients-icon-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients-icon-link:hover .clients-icon,
.clients-icon-link:focus .clients-icon {
  fill: var(--accent-color);
}

.footer {
  width: 100%;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrp {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: block;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  display: flex;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #ffffff;
  min-width: 231px;
  margin-bottom: 9px;
}

.footer-contacts {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-container {
  margin-left: 70px;
}

.footer-social-title {
  /* display: block; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;
  transition: color 200ms linear,
    background-color 200ms linear;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.footer-form-container {
  margin-left: 95px;
  /* margin-right: 215px; */
  width: 575px;
}

.footer-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer-form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 360px;
  min-height: 50px;
  color: var(--main-title-color);
  padding: 15px 0 15px 20px;
}

.footer-form-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  min-width: 200px;
  min-height: 50px;
}

.footer-form-icon {
  margin-left: 10px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.514);
  cursor: not-allowed;
  pointer-events: visible;
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: auto;
  z-index: 2;
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 12px;
  /* margin-top: 40px; */
}

.modal-input-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 5px;
  padding-top: 10px;
  display: block;
}

.modal-input-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-field {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-checkbox {
  appearance: none;
}

.modal-checkbox:checked
  + .checkbox-text
  .checkbox-item {
  background-color: var(--accent-color);
  border: none;
}

.checkbox-item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.modal-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  min-height: 50px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
/* --------------------PORTFOLIO PAGE -------------------------*/

.main-container {
  display: flex;
  flex-direction: column;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  padding: 6px 22px;
  border: none;
  transition: color 250ms linear,
    background-color 250ms linear;
  cursor: pointer;
}

.portfolio-btn:focus,
.portfolio-btn:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--second-text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  margin: 0;
  margin-left: calc(-1 * var(--projects-list-gap));
  margin-top: calc(-1 * var(--projects-list-gap));
}

.projects-item {
  display: flex;
  flex-direction: column;
  margin-left: var(--projects-list-gap);
  margin-top: var(--projects-list-gap);
  background: #ffffff;
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:hover .projects-thumb-text {
  transform: translateY(0);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-thumb-text {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  left: 0px;
  top: 0px;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.projects-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.projects-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
